.projectGrid {
  @apply grid md:grid-cols-3 sm:grid-cols-1 my-3;
  /* grid-column-gap: 2%; */
  width: 95%;
  justify-content: center;
  margin: auto;
}

.project {
  @apply text-center h-auto m-auto rounded relative my-3;
  width: 97%;
  /* margin: auto; */
  transition: all 300ms ease-in-out;
  /* height: auto; */
}

/* .project:nth-child(2) {
  @apply my-10 sm:my-auto;
} */

.projectimg {
  @apply !w-full !h-auto sm:!h-64 relative scale-110 transition-all ease-linear duration-[200ms];
  /* width: 100% !important; */
  /* height: 60% !important; */
}

.projectTitleDiv {
  @apply grid absolute scale-0 transition-all ease-linear duration-[250ms] bg-black/30  w-[100%] h-[100%] top-0;
  margin: auto;
  overflow: hidden;
  /* background-color: rgba(0, 0, 0, 0.4); */
  align-items: center;
}

.projectTitle {
  @apply m-auto text-center bg-denim/90 py-[40px] px-[10px] text-white text-base;
  border-radius: 50%;
}
